body{
  padding-top:80px;
  word-wrap:break-word;
  background-color: rgba(251, 227, 198, 0.9);
  font-family: monospace;
}
img{
  height: 300px;
  border-radius: 5px;
}
h1 {
  font-family: monospace;
  padding-bottom: 8px;
}
